<header class="header">
  <div class="container header__container">
      <a href="./#home" class="logo">
          Tactiq<span>Spark</span>
      </a>

      <nav class="nav">
          <ul class="nav__list">
              <li><a href="./#home" class="nav__link">Главная</a></li>
              <li><a href="./#tools" class="nav__link">Нейросети</a></li>
              <li><a href="./#education" class="nav__link">Обучение</a></li>
              <li><a href="./#practices" class="nav__link">Практики</a></li>
              <li><a href="./#blog" class="nav__link">Блог</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary">Начать</a>
          <button class="burger" aria-label="Меню">
              <span></span>
          </button>
      </div>
  </div>
</header>
<div class="mobile-menu" id="mobileMenu">
  <div class="mobile-menu__content">
      <ul class="mobile-menu__list">
          <li><a href="./#home" class="mobile-menu__link">Главная</a></li>
          <li><a href="./#tools" class="mobile-menu__link">Нейросети</a></li>
          <li><a href="./#education" class="mobile-menu__link">Обучение</a></li>
          <li><a href="./#practices" class="mobile-menu__link">Практики</a></li>
          <li><a href="./#blog" class="mobile-menu__link">Блог</a></li>
          <li><a href="./#contact" class="btn btn--primary">Начать</a></li>
      </ul>
  </div>
</div>